* {
    padding: 0;
    margin: 0;  
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
 
}

header {
    text-align: center;
    margin: 50px auto;
}

header button{
    width: 300px;
    height: 40px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 20px;
    background-color: rgb(109, 163, 109);
    border: 1px solid green;
    color: #f3f3f3;
}

h1 {
    padding: 20px;
   }

form {
    margin: 18px auto;
    display: block;
    max-width: 500px;
    width: 100%;
}
form p input, button, #recolher{
    cursor: pointer;
    margin: 10px auto;
    height: 35px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    background-color: beige;
}

p {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

p input{
    padding-left: 15px;
    width: 260px;
}

p input::placeholder {
    color: gray;
    text-align: start;
}

p button {
    width: 150px;
}

ul {

    max-width: 400px;
    width: 100%;
    margin: 20px 0 10px 50px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
}
ul li{
    padding: 10px;
    font-size: 16px;
    letter-spacing: 1.5px;
    text-transform: capitalize;
}

ul li::marker {
    color: gray;
    
}

ul li:hover {
    cursor: pointer;
    background-color: antiquewhite;
    border-radius: 10px;
}

.riscado {
    text-decoration: line-through;
    color: rgba(0,0,0, 0.5);
}

.container #recolher {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    width: 150px;
}